<!-- Serves as the base for all other templates-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title|default("Mockboxd") }} - Mockboxd</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}">
</head>
<body>
    <!-- Sitewide navbar -->
    <header>
        <h1>Mockboxd</h1>
        <ul class="navbar">
            <li><a href="{{ url_for('views.index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('views.profile') }}">Profile</a></li>
                <li><a href="{{ url_for('views.logout') }}">Log out</a></li>
            {% else %}
                <li><a href="{{ url_for('views.login') }}">Log in</a></li>
                <li><a href="{{ url_for('views.signup') }}">Sign up</a></li>
            {% endif %}
            {% if current_user.admin %}
                <li><a href="{{ url_for('views.admin') }}">Admin panel</a></li>
            {% endif %}
        </ul>
    </header>
    
    {% block content %}
    {% endblock %}

</body>
</html>