
{% extends "base.html" %}

{% block content %}
    <h1>{{ movie.name }}</h1>
    <h2>Rating</h2>
        {{ rating }}
    {% if current_user.is_authenticated %}
        <form method="POST">
            {{ rating_form.csrf_token }}
            <p>
                {% for rating in rating_form.rating %}
                    {{ rating }} {{ rating.label }}
                {% endfor %}
            </p>
            <p>
                {{ rating_form.submit() }}
            </p>
        </form>

        <form method="POST">
            {{ comment_form.csrf_token }}
            <p>
                {{ comment_form.comment.label }}<br>
                {{ comment_form.comment(size=70) }}
            </p>
            <p>
                {{ comment_form.submit() }}
            </p>
        </form>
    {% endif %}

    <h2>Comments</h2>
    <ul>
        {% for comment, user in comments %}
            <li><a href="{{ url_for("views.profile", user_id=user.id) }}"> {{ user.username }}</a>: {{ comment.comment }} </li>
            <small>Posted on: {{ comment.date_added.strftime("%d-%m-%Y %H:%M") }}</small>
        {% endfor %}
    </ul>

{% endblock %}