
{% extends "base.html" %}

{% block content %}
    <div class="info">
        <h1>{{ movie.name }}</h1>
        <p><b>Description:</b> {{ movie.description }}</p>
        <p><b>Year:</b> {{ movie.year }}</p>
        <p><b>Genre:</b> {{ movie.genre }}</p>
        <p><b>Rating (avg):</b> {{ rating }}</p>
    </div>
        <hr>
    {% if current_user.is_authenticated %}
        <form method="POST">
            {{ rating_form.csrf_token }}
            <p>Add rating:</p>
            <p>
                {% for rating in rating_form.rating %}
                    {{ rating }} {{ rating.label }}
                {% endfor %}
            </p>
            <p>
                {{ rating_form.submit() }}
            </p>
        </form>

        <form method="POST">
            {{ comment_form.csrf_token }}
            <p>
                {{ comment_form.comment.label }}<br>
                {{ comment_form.comment(size=70) }}
            </p>
            <p>
                {{ comment_form.submit() }}
            </p>
        </form>
    {% endif %}
    
    <div class="comments">
        <h2>Comments</h2>
        <ul>
            {% for comment in comments %}
                <li><a href="{{ url_for("views.profile", user_id=comment.user_id) }}"> {{ comment.username }}</a>: {{ comment.comment }} </li>
                <small>Posted on: {{ comment.date_added.strftime("%d-%m-%Y %H:%M") }}</small>
            {% endfor %}
        </ul>
    </div>

{% endblock %}