
{% extends "base.html" %}

{% block content %}
    <h1>{{ user.username }}</h1>
    <p>Followers: {{ follower_count }} Following: {{ following_count }}</p>

    {% if current_user.id != user.id and current_user.is_authenticated %}
        {% if not following %}
            <form method="POST" action="{{ url_for("views.follow_user", user_id=user.id) }}">
                {{ follow_form.csrf_token }}
                <p>
                    {{ follow_form.submit() }}
                </p>
            </form>
        {% elif following %}
            <form method="POST" action="{{ url_for("views.unfollow_user", user_id=user.id) }}">
                {{ unfollow_form.csrf_token }}
                <p>
                    {{ unfollow_form.submit() }}
                </p>
            </form>
        {% endif %}
    {% endif %}

    <h2>Watchlist</h2>

    <ul>
        {% for movie, rating in watchlist %}
            <li><a href="{{ url_for("views.movie_info", movie_id=movie.id) }}"> {{ movie.name }}</a></li>
            - User rating: {{ rating }}
        {% else %}
            <li>Watchlist is empty.</li>
        {% endfor %}
    </ul>
{% endblock %}