
{% extends "base.html" %}

{% block content %}
    <h1>Add movie</h1>
    <form method="POST">
        {{ form.csrf_token }}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=20) }}
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year(size=4) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=80) }}
        </p>
        <p>
            {{ form.genre.label }}<br>
            {{ form.genre }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

{% endblock %}