
{% extends "base.html" %}

{% block content %}
    <h1>Delete movie</h1>
    <form method="POST">
        {{ form.csrf_token }}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=30) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

    <h2>Results</h2>
    <p>Id - Name</p>
    <ul>
        {% for movie in movies %}
            <li><a href="{{ url_for("views.delete_movie", movie_id=movie.id) }}"> {{ movie.id }} - {{ movie.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}